/* 공통 간격*/
.select-wrapper + .select-wrapper,
.select-wrapper + .tab-radio-wrapper,
.tab-radio-wrapper + .select-wrapper,
.tab-radio-wrapper + .list-title-wrap,
.select-wrapper + .list-title-wrap,
.tab-radio-wrapper + .tab-radio-wrapper {margin-top:30px;}
/* ---------------------- */
.label-wrapper {min-width:60px;}
/* Select */
.select-wrapper {display:flex;align-items:center;justify-content:flex-start;}
.select-label {font-size:15px;font-weight:var(--fw-bold);width:100%;}
.select-inner {width:auto;position:relative;}
.generator-wrap .select-inner {width:100%;}
.select-button {width:132px;height:36px;display:flex;justify-content:space-between;align-items:center;gap:4px;padding:14px 10px;border-radius:4px; outline: none; cursor: pointer;background-color:var(--color-white);border:1px solid var(--input-border-color);}
.select-button:focus {border-color:var(--color-primary-hover);}
.select-lg-full-blue { width: 100%; background-color: #0070f3; }
.select-button-label {font-size:14px;color:var(--color-black);font-weight: var(--fw-medium); white-space: nowrap; overflow: hidden; }
.select-button-label + svg.open {transform: rotate(180deg);}
.select-dropdown { position: absolute; width: 100%; border-radius: 4px;background-color:var(--color-white);border:1px solid var(--input-border-color);box-shadow: 0 0 10px rgba(0,0,0,0.05); z-index: 50; max-height: 500px; overflow-y: auto; }
.dropdown-top { bottom: 100%; margin-bottom: 4px; }
.dropdown-bottom { top: 100%; margin-top: 4px; }
.select-option {color:var(--color-black);padding: 8px; cursor: pointer; }
.select-option:hover { background-color: var(--color-gray2); }
.select-option.selected {background-color: #E0ECE9;}
/* Select > 세로 버전 */
.select-wrapper.col-ver{flex-direction: column;align-items: flex-start;gap:12px;width:100%;}
.select-wrapper.col-ver .select-label {font-size:15px;font-weight:var(--fw-regular);color:var(--color-gray3);}
.select-wrapper.col-ver .select-button-label {font-size:14px;color:var(--color-gray3);}
.select-wrapper.col-ver .select-button {width:100%;height:47px;background-color:var(--color-bg-light-dark1);}
.select-wrapper.col-ver .select-dropdown {border:0;background: var(--color-bg-light-dark1);}
.select-wrapper.col-ver .select-option {color:var(--color-gray3);}
.select-wrapper.col-ver .select-option:hover { background-color: var(--color-black); }
.select-wrapper.col-ver .select-option.selected {background-color: #E0ECE9;}
/* 테이블에 들어가는 버전 */
.select-wrapper.table-ver .select-label {font-size:14px;}
.select-wrapper.table-ver .select-button {width:380px;:36px;padding:8px;}
.select-wrapper.table-ver .select-button:focus {border-color:var(--color-primary)!important;}
/* Radio (탭 디자인) */
.tab-radio-wrapper {display:flex;align-items:center;gap:10px;border-radius:4px;overflow:hidden;}
.tab-radio-item {flex:1;}
.tab-radio-item > input {position: absolute;width: 1px;height: 1px;overflow: hidden;clip: rect(0 0 0 0);white-space: nowrap;clip-path: inset(50%);}
.tab-radio-item input:checked + span {background-color:var(--color-primary);color:var(--color-bg-dark);font-weight:var(--fw-bold);}
.tab-radio-item > span {width:100%;display:inline-flex;justify-content:center;align-items:center;height:48px;border-radius:4px;padding:15px;font-size:14px;font-weight:var(--fw-medium);color:var(--color-gray3);background-color: var(--color-bg-light-dark1)}
.tab-radio-item.icon-ver span {height: auto;flex-direction:column;align-items:center;gap:4px;}

/* Input */
.input-wrapper {}
.input-wrapper input {width:100%;height:50px;padding:16px 10px;font-family:inherit;font-size:15px;font-weight:var(--fw-medium);color:var(--color-gray4);border:1px solid var(--input-border-color);border-radius:4px;background-color:var(--color-transparent);outline:none;}
.input-wrapper input::placeholder {color:var(--color-gray4);}
.input-wrapper input:focus {border-color:var(--color-primary)!important;}
.input-wrapper.table-ver {width: 100%;}
.input-wrapper.table-ver input {height:36px;padding:8px 8px;font-size:14px;border-color:var(--color-border);}
.input-wrapper.row {display:flex;align-items:center;}
.input-wrapper.row label {min-width:80px;font-size:16px;color:var(--color-black);font-weight: var(--fw-bold); white-space: nowrap; overflow: hidden;}
.input-wrapper.row input {height:36px;padding:14px 10px;outline: none; cursor: pointer;background-color:var(--color-white);border:1px solid var(--input-border-color);}

    /* textarea */
.textarea-wrapper {width:100%;}
.textarea-wrapper textarea {display:block;width:100%;padding:8px;font-family:inherit;font-size:14px;font-weight:var(--fw-regular);color:var(--color-black);border:1px solid var(--color-border);border-radius:4px;background-color:var(--color-transparent);outline:none;resize:none;}
.textarea-wrapper textarea::placeholder {color:var(--color-gray4);}
.textarea-wrapper textarea:focus {border-color:var(--color-primary);}


/* Button */

.btn.prompt > span {font-size:16px;font-weight:var(--fw-semibold);color:var(--color-white);padding-top:30px;background: url("../images/icon/ico_generate.svg") center top / 22px no-repeat;}
.btn.prompt:hover {background-color:var(--color-primary-hover);}
.btn.rounded {border:1px solid var(--color-gray4);border-radius:16px;font-size:13px;font-weight:var(--fw-medium);color:var(--color-gray4);padding:7px 13px;height:30px;}
.btn.rounded2 {border-radius:4px;font-size:20px;font-weight:var(--fw-medium);color:var(--color-white);padding:7px 13px;background-color:var(--color-bg-dark);}
/*.btn.normal {height:38px;padding:4px 16px;border-radius:10px;background-color:var(--color-bg-dark);font-size:13px;font-weight:var(--fw-medium);color:var(--color-white);}*/
/*.btn.normal.bright {background-color:var(--color-white);border:1px solid var(--color-bg-dark);color:var(--color-bg-dark);font-weight:var(--fw-bold);}*/
/*.btn.normal.bright:hover{border-color:var(--color-primary-hover)}*/
/*.btn.normal2:hover,*/
/*.btn.normal:hover {background-color:var(--color-primary-hover);}*/
/*.btn.normal2 {min-width:80px;height:36px;padding:10px 12px;border-radius:4px;background-color:var(--color-bg-dark);font-size:14px;font-weight:var(--fw-medium);color:var(--color-white);}*/
/*.btn.normal2.bright2 {background-color:var(--color-white);border:1px solid var(--color-border5);color:var(--color-black2);}*/
/*.btn.normal2.bright2:hover {border-color:var(--color-primary-hover);background-color:var(--color-primary-hover);}*/
.btn.full {width:100%;}
.btn.size-sm {height:40px;}
.btn.size-md {height:60px;}
/*.btn.icon {gap:4px;}*/
/*.btn.bg-gray {background-color:var(--color-gray9);}*/
/*.btn.ico-reset{position:relative;}*/
/*.btn.ico-reset::before {content:'';width:20px;height:20px;margin-right:4px;background: url('../images/icon/ico_reset.svg') 0 center / 16px no-repeat;}*/
.btn.sidebar-open-btn {width:26px;height:64px;position:relative;background:url("../../assets/images/icon/ico_sidebar_btn.svg") center center no-repeat;background-size:100%;margin-top:60px;}
.btn.sidebar-open-btn::before {content:'';width:24px;height:24px;background:url("../../assets/images/icon/ico_sidebar_small_arrow.svg");transform: rotate(180deg);transition: all 0.3s;}
.btn.sidebar-open-btn.open::before {transform: rotate(0deg);}
.btn.tab {flex-direction:column;gap:2px;width:100%;height:65px;border-radius:15px;border:1px solid var(--color-transparent);background-color:var(--color-transparent);}
.btn.tab > span {display:inline-flex;justify-content:center;text-align:center;font-size:13px;font-weight:var(--fw-medium);color:var(--color-white);}
.btn.tab.active {border-color:var(--color-primary);}
.btn.tab.active > span {color:var(--color-primary);}
.btn.absolute-ver{position:absolute;}
.btn.bottom-right {right:16px;bottom:16px;}
.btn.top-right {right:16px;top:16px;}
.btn.table-form-btn {height:40px;min-width:350px;padding:4px;font-size:14px;font-weight:var(--fw-regular);color:var(--color-gray11);border-radius:4px;background-color:var(--color-gray1);border:1px solid var(--color-border);}
.btn.table-form-btn:hover{background-color:var(--color-primary);font-weight:var(--fw-bold);border-color:var(--color-primary)}
/*.btn.ico-square {width:32px;height:32px;border-radius:4px;border:1px solid var(--color-gray3);padding:4px;}*/
/*.btn.ico-square:hover {border-color:var(--color-primary-hover);}*/
.tooltip-btn {position:relative;}
.tooltip-btn .insert-tooltip {display: none;position:absolute;left:0;top:32px;}
.tooltip-btn button:hover + .insert-tooltip {display:block;}

/*
 [버튼]
 1. normal (기본형)
 2. rounded (둥근 테두리)
 3. tooltip (툴팁 내장형)
 4. icon (아이콘 + 텍스트)
 5. icon-square (아이콘)
 */
.btn {display:flex;align-items:center;justify-content:center;transition:all 0.2s;line-height:1;position:relative;}
/* 버튼 높이 */
.btn.h-sm {height:36px;font-size:14px;}
.btn.h-md {height:40px;font-size:14px;}
/* 버튼 너비 */
.btn.w-sm {min-width:80px;}
.btn.pd-sm {padding:6px;}
/* 버튼 색상 */
.btn.normal.bg-black {background-color:var(--color-black);border-color:var(--color-gray-800);color:var(--color-white);}
.btn.normal.bg-black:hover {background-color:var(--color-primary-hover);border-color:var(--color-primary-hover);color:var(--color-gray-800);}
.btn.normal.bg-primary {background-color:var(--color-primary-hover);border-color:var(--color-primary-hover);color:var(--color-gray-900);}
.btn.normal.bg-primary:hover {background-color:var(--color-primary-hover);border-color:var(--color-primary-hover);color:var(--color-white);}
/* 1. normal (기본형) */
.btn.normal {border-radius:4px;border:1px solid var(--color-border5);background-color:var(--color-white);color:var(--color-black2);}
.btn.normal:hover {border-color:var(--color-primary-hover);color:var(--color-primary-hover);}
/* 4. icon (아이콘 + 텍스트) */
.btn.icon-insert {padding:10px;}
.btn.icon-insert > span {display:inline-block;padding-left:20px;position:relative;}
.btn.icon-insert > span::before {transition: all 0.3s;content:'';width:16px;height:16px;position:absolute;left:0;top:50%;transform:translateY(-50%);}
.btn.icon-insert.ico-download-dark > span::before {background:url("../images/icon/ico_download_dark.svg") center center no-repeat;background-size:16px;}
.btn.icon-insert.ico-download-dark:hover > span::before {background:url("../images/icon/ico_download_dark.svg") center center no-repeat;background-size:16px;}
.btn.icon-insert.ico-download-white > span::before {background:url("../images/icon/ico_download_white.svg") center center no-repeat;background-size:16px;}
.btn.icon-insert.ico-download-white:hover > span::before {background:url("../images/icon/ico_download_dark.svg") center center no-repeat;background-size:16px;}
.btn.icon-insert.ico-share > span::before {background:url("../images/icon/ico_share.svg") center center no-repeat;background-size:16px;}
.btn.icon-insert.ico-share:hover > span::before {background:url("../images/icon/ico_share_active.svg") center center no-repeat;background-size:16px;}
.btn.icon-insert.ico-reset > span::before {background: url("../images/icon/ico_reset_gray.svg") center center no-repeat;background-size:16px;}
.btn.icon-insert.ico-reset:hover > span::before {background: url("../images/icon/ico_reset_active.svg") center center no-repeat;background-size:16px;}
.btn.icon-insert.ico-search > span::before {background:url("../images/icon/ico_search.svg") center center no-repeat;background-size:16px;}
.btn.icon-insert.ico-search:hover > span::before {background:url("../images/icon/ico_search.svg") center center no-repeat;background-size:16px;}

/* 5. ico-square */
.btn.icon-square {width:36px;height:36px;border-radius:4px;}
.btn.icon-square.ico-eye {background:url("../images/icon/ico_eye.svg") center center no-repeat;background-size:20px;}
.btn.icon-square.ico-eye:hover {background:url("../images/icon/ico_eye_active.svg") center center no-repeat;background-size:20px;}
.btn.icon-square.ico-delete {background:url("../images/icon/ico_delete.svg") center center no-repeat;background-size:20px;}
.btn.icon-square.ico-delete:hover {background:url("../images/icon/ico_delete_active.svg") center center no-repeat;background-size:20px;}
.btn.icon-square.ico-download {background:url("../images/icon/ico_download.svg") center center no-repeat;background-size:20px;}
.btn.icon-square.ico-download:hover {background:url("../images/icon/ico_download_active.svg") center center no-repeat;background-size:20px;}
.btn.icon-square.ico-share:hover {background:url("../images/icon/ico_download_active.svg") center center no-repeat;background-size:20px;}
.btn.icon-square.ico-copy {background:url("../images/icon/ico_copy.svg") center center no-repeat;background-size:20px;}
.btn.icon-square.ico-copy:hover {background:url("../images/icon/ico_copy_active.svg") center center no-repeat;background-size:20px;}

/* 데이트 피커 */

/* 라디오 */
.radio-wrapper {display:flex;align-items:center;}
.radio-label {font-size:15px;font-weight:var(--fw-bold);}
.radio {display:flex;align-items:center;}
.radio input {position: absolute;width: 1px;height: 1px;overflow: hidden;clip: rect(0 0 0 0);white-space: nowrap;clip-path: inset(50%);}
.radio input + span {display:inline-flex;width:16px;height:16px;margin-right:4px;background:url("../images/icon/ico_radio.svg") center center no-repeat;background-size:16px;}
.radio input:checked + span {background:url("../images/icon/ico_radio_checked.svg") center center no-repeat;background-size:16px;}

/* 체크박스 */
.checkbox-wrapper {display:flex;align-items:center;}
.checkbox-label {font-size:15px;font-weight:var(--fw-bold);}
.checkbox {display:flex;align-items:center;font-size:14px;font-weight:var(--fw-regular);color:var(--color-black);}
.checkbox input {position: absolute;width: 1px;height: 1px;overflow: hidden;clip: rect(0 0 0 0);white-space: nowrap;clip-path: inset(50%);}
.checkbox input + span {display:inline-flex;width:16px;height:16px;margin-right:4px;background:url("../images/icon/ico_checkbox.svg") center center no-repeat;background-size:16px;}
.checkbox input:checked + span {background:url("../images/icon/ico_checkbox_checked.svg") center center no-repeat;background-size:16px;}

/* 커스텀 테이블 */
.custom-table {width:100%;border:1px solid var(--table-border-color);}
.custom-table > table {width:100%;}
.custom-table > table th {vertical-align:middle;padding:8px;background-color:var(--color-gray1);border-right:1px solid var(--table-border-color);}
.custom-table > table td {padding:8px;background-color: var(--color-white);}
.custom-table > table .th-wrap {width:100%;font-size:14px;font-weight:var(--fw-bold);color:var(--color-gray8);text-align:center;}
.custom-table > table .td-wrap {width:100%;display:flex;align-items:center;justify-content:flex-start;font-size:14px;font-weight:var(--fw-medium);color:var(--color-black);text-align:left;}
.custom-table > table > tbody > tr + tr {border-top:1px solid var(--table-border-color);}
.custom-table > table .td-wrap .radio-wrapper + .radio-wrapper {margin-left:20px;}

/* datepicker */
.react-datepicker-wrapper { all: unset; display: inline-block; }
.react-datepicker__input-container { all: unset; display: inline-block; }
.react-datepicker__input-container input { all: unset; height:36px;border: 1px solid var(--input-border-color); border-radius: 4px;padding:14px 10px;font-size: 14px; background: var(--color-white); width: 132px; cursor: pointer;box-sizing: border-box;}
.react-datepicker__input-container input:focus { border-color:var(--color-primary-hover)}
.react-datepicker__close-icon::after {background-color:var(--color-primary)!important;}
.custom-datepicker-wrapper {display:flex;align-items:center;}
.custom-datepicker-wrap {display:flex;align-items:center;gap:4px;}
.custom-label {min-width:50px;font-weight:var(--fw-bold);}

/* aggrid */
/* AG grid */
.ag-theme-alpine .ag-layout-auto-height .ag-center-cols-viewport,
.ag-theme-alpine .ag-layout-auto-height .ag-center-cols-container{min-height:136px!important;}
.ag-theme-alpine .ag-layout-auto-height .ag-center-cols-container{min-height:136px!important;}
.ag-theme-alpine .ag-row.ag-row-hover::before {background-color:var(--color-primary-hover-light)!important;}
.ag-root-wrapper {border-color:var(--table-border-color)!important;border-radius:4px!important;}
.ag-header, .ag-advanced-filter-header{border-bottom-color:var(--table-border-color)!important;}
.ag-header-cell-label {justify-content: center;}
.ag-header-cell {background-color:var(--table-bg-color)!important;padding: 0 10px!important;}
.ag-header-cell + .ag-header-cell {border-left:1px solid var(--table-border-color)!important;}
.ag-header-cell-text {font-size:14px!important;color:var(--color-text2)!important;}
.ag-theme-alpine .ag-row .ag-cell:first-child{border-left:0!important;}
.ag-theme-alpine .ag-row:last-child{border-bottom:0!important;}
.ag-ltr .ag-cell {border-left:1px solid var(--table-border-color);white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.ag-ltr .ag-cell.no-ellipsis{}
.ag-ltr .ag-cell.flex-center{display:flex;align-items:center;justify-content:center;}
.ag-ltr .ag-cell.custom-checkbox .ag-cell-wrapper {width: 100%;}
.ag-ltr .ag-cell.text-center{justify-content: center;text-align: center;}
.ag-row:nth-child(odd), .ag-row:nth-child(even) {background-color: var(--color-white) !important; /* 모든 행을 동일한 색으로 설정 */}
/* 셀 체크박스 중앙 정렬 */
.ag-center-checkbox-header {display: flex;align-items: center;justify-content: center;}
.center-header-checkbox .ag-header-cell-comp-wrapper {display: none!important;align-items: center;justify-content: center;}
.ag-header-cell.ag-center-checkbox-header {padding: 0 !important;}
.ag-header-cell-comp-wrapper {display: none!important;}
.ag-header-cell.ag-center-checkbox-header .ag-header-select-all {margin: 0 auto;display: flex;align-items: center;justify-content: center;}
.ag-ltr .ag-header-select-all{width: 100%!important;justify-content:center;margin-right:0!important;}
.ag-selection-checkbox {width: 100%;justify-content:center;}
.ag-checkbox-selection-cell {display: flex !important;justify-content: center;align-items: center;}
.ag-checkbox-input-wrapper::after {color:var(--input-border-color)!important;}
.ag-checkbox-input-wrapper.ag-checked::after{color:var(--color-primary)!important;}
.ag-row-selected {background-color: #E4E4E4!important;}
.ag-row-selected::before {background-color: var(--color-primary-hover-light)!important;}
.ag-theme-alpine .ag-row.ag-row-selected.ag-row-hover::before{background-color: var(--color-primary-hover-light)!important;background-image:none;}
.ag-row.ag-row-hover{background-color:var(--color-primary-hover-light)!important;}
.ag-theme-alpine .ag-selection-checkbox::after {background-color: #E4E4E4!important;}
.ag-ltr .ag-cell-focus:not(.ag-cell-range-selected):focus-within {border:1px solid var(--color-primary) !important;}
.vertical-ellipsis {overflow:hidden;white-space: nowrap;text-overflow:ellipsis;}
[class^='ellipsis-'] {word-break: break-word;}
.ellipsis-8 {overflow:hidden;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:8;white-space:normal;text-overflow:ellipsis;line-height:1.4}
.ellipsis-5 {overflow:hidden;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:5;white-space:normal;text-overflow:ellipsis;line-height:1.4}
.ellipsis-2 {overflow:hidden;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:2;white-space:normal;text-overflow:ellipsis;line-height:1.4}
.text-gray {font-size:14px;color:var(--color-gray-300)}
/* aggrid내에서 사용하는 cell-renderer안 콘텐츠 */
.grid-btn-wrap {display:flex;align-items:center;justify-content:center;gap:8px;}
.grid-btn-wrap > .btn + .btn {margin-left:8px;}
.grid-btn-wrap > .btn + .btn::before {content:'';width:1px;height:12px;background-color:var(--input-border-color);position:absolute;left:-8px;
top:50%;transform:translateY(-50%);}
.grid-img-wrap {display:flex;justify-content:center;align-items:center;height:100%;}
.grid-img-wrap > img {height: 80px;}
.grid-indicator {margin-bottom:8px;display:flex;align-items:center;justify-content:space-between;width:100%;}
.grid-indicator .total-count {font-size:14px;font-weight:var(--fw-medium);color:var(--color-border-dark2);}
.grid-indicator .total-count > p {font-weight:var(--fw-bold);}
.indicator-wrap {display:flex;align-items:center;gap:8px;}
