/* 공통 간격*/
.select-wrapper + .select-wrapper,
.select-wrapper + .tab-radio-wrapper,
.tab-radio-wrapper + .select-wrapper,
.tab-radio-wrapper + .list-title-wrap,
.select-wrapper + .list-title-wrap,
.tab-radio-wrapper + .tab-radio-wrapper {margin-top:30px;}
/* ---------------------- */
.label-wrapper {min-width:50px;}
/* Select */
.select-wrapper {display:flex;align-items:center;justify-content:flex-start;}
.select-label {font-size:15px;font-weight:var(--fw-bold);width:100%;}
.select-inner {width:auto;position:relative;}
.generator-wrap .select-inner {width:100%;}
.select-button {width:132px;height:36px;display:flex;justify-content:space-between;align-items:center;gap:4px;padding:14px 10px;border-radius:4px; outline: none; cursor: pointer;background-color:var(--color-white);border:1px solid var(--color-border);}
.select-lg-full-blue { width: 100%; background-color: #0070f3; }
.select-button-label {font-size:14px;color:var(--color-black);font-weight: var(--fw-medium); white-space: nowrap; overflow: hidden; }
.select-button-label + svg.open {transform: rotate(180deg);}
.select-dropdown { position: absolute; width: 100%; border-radius: 4px;background-color:var(--color-white);border:1px solid var(--color-border);box-shadow: 0 0 10px rgba(0,0,0,0.05); z-index: 50; max-height: 500px; overflow-y: auto; }
.dropdown-top { bottom: 100%; margin-bottom: 4px; }
.dropdown-bottom { top: 100%; margin-top: 4px; }
.select-option {color:var(--color-black);padding: 8px; cursor: pointer; }
.select-option:hover { background-color: var(--color-gray2); }
.select-option.selected {background-color: #E0ECE9;}
/* Select > 세로 버전 */
.select-wrapper.col-ver{flex-direction: column;align-items: flex-start;gap:12px;width:100%;}
.select-wrapper.col-ver .select-label {font-size:15px;font-weight:var(--fw-regular);color:var(--color-gray3);}
.select-wrapper.col-ver .select-button-label {font-size:14px;color:var(--color-gray3);}
.select-wrapper.col-ver .select-button {width:100%;height:47px;background-color:var(--color-bg-light-dark1);}
.select-wrapper.col-ver .select-dropdown {border:0;background: var(--color-bg-light-dark1);}
.select-wrapper.col-ver .select-option {color:var(--color-gray3);}
.select-wrapper.col-ver .select-option:hover { background-color: var(--color-black); }
.select-wrapper.col-ver .select-option.selected {background-color: #E0ECE9;}
/* 테이블에 들어가는 버전 */
.select-wrapper.table-ver .select-label {font-size:14px;}
.select-wrapper.table-ver .select-button {width:380px;:36px;padding:8px;}
.select-wrapper.table-ver .select-button:focus {border-color:var(--color-primary)!important;}
    /* Radio (탭 디자인) */
.tab-radio-wrapper {display:flex;align-items:center;gap:10px;border-radius:4px;overflow:hidden;}
.tab-radio-item {flex:1;}
.tab-radio-item > input {position: absolute;width: 1px;height: 1px;overflow: hidden;clip: rect(0 0 0 0);white-space: nowrap;clip-path: inset(50%);}
.tab-radio-item input:checked + span {background-color:var(--color-primary);color:var(--color-bg-dark);font-weight:var(--fw-bold);}
.tab-radio-item > span {width:100%;display:inline-flex;justify-content:center;align-items:center;height:48px;border-radius:4px;padding:15px;font-size:14px;font-weight:var(--fw-medium);color:var(--color-gray3);background-color: var(--color-bg-light-dark1)}
.tab-radio-item.icon-ver span {height: auto;flex-direction:column;align-items:center;gap:4px;}

/* Input */
.input-wrapper {}
.input-wrapper input {width:100%;height:50px;padding:16px 10px;font-family:inherit;font-size:15px;font-weight:var(--fw-medium);color:var(--color-gray4);border:1px solid var(--color-bg-light-dark1);border-radius:4px;background-color:var(--color-transparent);outline:none;}
.input-wrapper input::placeholder {color:var(--color-gray4);}
.input-wrapper input:focus {border-color:var(--color-primary)!important;}
.input-wrapper.table-ver {width: 100%;}
.input-wrapper.table-ver input {height:36px;padding:8px 8px;font-size:14px;border-color:var(--color-border);}

/* textarea */
.textarea-wrapper {width:100%;}
.textarea-wrapper textarea {display:block;width:100%;padding:8px;font-family:inherit;font-size:14px;font-weight:var(--fw-regular);color:var(--color-black);border:1px solid var(--color-border);border-radius:4px;background-color:var(--color-transparent);outline:none;resize:none;}
.textarea-wrapper textarea::placeholder {color:var(--color-gray4);}
.textarea-wrapper textarea:focus {border-color:var(--color-primary);}


/* Button */
.btn {display:flex;align-items:center;justify-content:center;transition:background-color 0.2s;}
.btn.prompt > span {font-size:16px;font-weight:var(--fw-semibold);color:var(--color-white);padding-top:30px;background: url("../images/icon/ico_generate.svg") center top / 22px no-repeat;}
.btn.prompt:hover {background-color:var(--color-primary-hover);}
.btn.rounded {border:1px solid var(--color-gray4);border-radius:16px;font-size:13px;font-weight:var(--fw-medium);color:var(--color-gray4);padding:7px 13px;height:30px;}
.btn.rounded2 {border-radius:4px;font-size:20px;font-weight:var(--fw-medium);color:var(--color-white);padding:7px 13px;background-color:var(--color-bg-dark);}
.btn.normal {height:38px;padding:4px 16px;border-radius:10px;background-color:var(--color-bg-dark);font-size:13px;font-weight:var(--fw-medium);color:var(--color-white);}
.btn.normal2:hover,
.btn.normal:hover {background-color:var(--color-primary-hover);}
.btn.normal2 {min-width:80px;height:36px;padding:9px 19px;border-radius:4px;background-color:var(--color-bg-dark);font-size:14px;font-weight:var(--fw-medium);color:var(--color-white);}
.btn.full {width:100%;}
.btn.size-sm {height:40px;}
.btn.size-md {height:60px;}
.btn.icon {gap:4px;}
.btn.bg-gray {background-color:var(--color-gray9);}
.btn.ico-reset{position:relative;}
.btn.ico-reset::before {content:'';width:20px;height:20px;margin-right:4px;background: url('../images/icon/ico_reset.svg') 0 center / 16px no-repeat;}
.btn.sidebar-open-btn {width:26px;height:64px;position:relative;background:url("../../assets/images/icon/ico_sidebar_btn.svg") center center no-repeat;background-size:100%;margin-top:60px;}
.btn.sidebar-open-btn::before {content:'';width:24px;height:24px;background:url("../../assets/images/icon/ico_sidebar_small_arrow.svg");transform: rotate(180deg);transition: all 0.3s;}
.btn.sidebar-open-btn.open::before {transform: rotate(0deg);}
.btn.tab {flex-direction:column;gap:2px;width:100%;height:65px;border-radius:15px;border:1px solid var(--color-transparent);background-color:var(--color-transparent);}
.btn.tab > span {display:inline-flex;justify-content:center;text-align:center;font-size:13px;font-weight:var(--fw-medium);color:var(--color-white);}
.btn.tab.active {border-color:var(--color-primary);}
.btn.tab.active > span {color:var(--color-primary);}
.btn.absolute-ver{position:absolute;}
.btn.bottom-right {right:16px;bottom:16px;}
.btn.top-right {right:16px;top:16px;}
.btn.table-form-btn {height:40px;min-width:350px;padding:4px;font-size:14px;font-weight:var(--fw-regular);color:var(--color-gray11);border-radius:4px;background-color:var(--color-gray1);border:1px solid var(--color-border);}
.btn.table-form-btn:hover{background-color:var(--color-primary);font-weight:var(--fw-bold);border-color:var(--color-primary)}

/* 데이트 피커 */

/* 라디오 */
.radio-wrapper {display:flex;align-items:center;}
.radio-label {font-size:15px;font-weight:var(--fw-bold);}
.radio {display:flex;align-items:center;}
.radio input {position: absolute;width: 1px;height: 1px;overflow: hidden;clip: rect(0 0 0 0);white-space: nowrap;clip-path: inset(50%);}
.radio input + span {display:inline-flex;width:16px;height:16px;margin-right:4px;background:url("../images/icon/ico_radio.svg") center center no-repeat;background-size:16px;}
.radio input:checked + span {background:url("../images/icon/ico_radio_checked.svg") center center no-repeat;background-size:16px;}

/* 체크박스 */
.checkbox-wrapper {display:flex;align-items:center;}
.checkbox-label {font-size:15px;font-weight:var(--fw-bold);}
.checkbox {display:flex;align-items:center;font-size:14px;font-weight:var(--fw-regular);color:var(--color-black);}
.checkbox input {position: absolute;width: 1px;height: 1px;overflow: hidden;clip: rect(0 0 0 0);white-space: nowrap;clip-path: inset(50%);}
.checkbox input + span {display:inline-flex;width:16px;height:16px;margin-right:4px;background:url("../images/icon/ico_checkbox.svg") center center no-repeat;background-size:16px;}
.checkbox input:checked + span {background:url("../images/icon/ico_checkbox_checked.svg") center center no-repeat;background-size:16px;}

/* 커스텀 테이블 */
.custom-table {width:100%;border:1px solid var(--table-border-color);}
.custom-table > table {width:100%;}
.custom-table > table th {vertical-align:middle;padding:8px;background-color:var(--color-gray1);border-right:1px solid var(--table-border-color);}
.custom-table > table td {padding:8px;background-color: var(--color-white);}
.custom-table > table .th-wrap {width:100%;font-size:14px;font-weight:var(--fw-bold);color:var(--color-gray8);text-align:center;}
.custom-table > table .td-wrap {width:100%;display:flex;align-items:center;justify-content:flex-start;font-size:14px;font-weight:var(--fw-medium);color:var(--color-black);text-align:left;}
.custom-table > table > tbody > tr + tr {border-top:1px solid var(--table-border-color);}
.custom-table > table .td-wrap .radio-wrapper + .radio-wrapper {margin-left:20px;}


