html,body{margin:0;padding:0;height:auto;overflow-y:auto;position:relative;font-family:inherit;line-height:1.4;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
ul,ol{margin:0;padding:0;list-style:none;}
a{text-decoration:none;color:inherit;cursor:pointer;}
p{padding:0;margin:0;}
span{display:inline-block;}
img{max-width:100%;height:auto;object-fit:cover;vertical-align:middle;border-style:none;}
button{border:0;background:none;padding:0;cursor:pointer;font:inherit;color:inherit;}
table{border-collapse:collapse;border-spacing:0;width:100%;}
fieldset{border:0;margin:0;padding:0;}
pre{white-space:pre-wrap;margin:0;font-family:monospace, monospace;}
em{font-style:normal;}
* *, *::before, *::after{box-sizing:border-box;}
h1,h2,h3,h4,h5,h6{margin:0;padding:0;}
/* *, *::before, *::after{box-sizing:border-box;} */
